* {
    margin: 0;
    padding: 0;
    font-family: "Playwrite DE Grund", cursive;
}

/* Global variables */
:root {
    --primary-color: #522258;
    --secondary-color: #8C3061;
    --third-color: #C63C51;
    --fourth-color: #D95F59;

}

body {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: #fff;
    background-color: var(--primary-color);
}

/* main page */
.crud {
    width: 60%;
    margin: 20px auto;
    padding: 100px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

@media (max-width: 520px) {
    .crud {
        width: 70%;
        padding: 80px 60px;
    }
}

@media (max-width: 447px) {
    .crud {
        width: 90%;
        padding: 100px 30px;
        box-sizing: border-box;
    }

    .crud .cards button {
        margin-left: -5px;
        width: fit-content !important;
    }


}

/* header */
.head {
    text-align: center;
    margin: -60px 0px 40px;
    font-size: 24px;
    text-transform: uppercase;
}

/* input section */
input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin: 8px auto;
    outline: none;
    border: none;
    padding: 5px;
    color: var(--primary-color);
    font-weight: bold;
    background-color: #d7c6cf;
}

input:focus {
    background-color: #fff;
    color: var(--primary-color);
    transform: scale(1.03);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .price {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#total {
    background-color: #522258;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    margin: 8px 0;
    display: inline-block;
    text-wrap: nowrap;
    margin-right: -10px;

}

small {
    display: flex;
    justify-content: space-between;
}

/* #total::before {
    content: 'Total:';
} */

button {
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 20px;
    background: var(--fourth-color);
    color: white;
    margin: 10px 6px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    letter-spacing: 1px;
    transition: all 0.5s;
    background: #C63C51;
}

/* output section */
.searchBtn {
    display: flex;
    justify-content: space-between;

}

.searchBtn button {
    width: 47%;
    background: var(--third-color);
    color: white;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: -5px;
}

.searchBtn button:hover {
    background: #D95F59;
    transition: all 0.3s;
}

/* table */

table {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    border-collapse: collapse;
}

.cards {
    display: none;
}

@media (max-width: 892px) {
    table {
        font-size: 14px;
    }
}

@media (max-width: 1152px) {
    table {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px auto;
        font: 16px;
        width: 100%;
        border-radius: 20px;
        background-color: var(--primary-color);
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .cards .card .right {
        flex-grow: 0.2;
    }

    .cards .card p {
        margin: 5px;
        padding: 0;
        font-size: 16px;
    }

    .cards .card button {
        width: 39%;
        display: inline-block;
        padding: 5px;
        font-size: 14px;


    }

    /* Show the table when the screen is less than 792px */

}


table button {
    padding: 2px;
    border: none;
    outline: none;
    background: var(--third-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}


table button:hover {
    background: #D95F59;
    transition: all 0.3s;
}

table th {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fff;
}

table th,
td {
    padding: 5px;
}